.vscode/
raw/
filtered/
cache/
output/

LN/raw/
LN/filtered/
LN/cache/
LN/output/
Skin/raw/
Skin/filtered/
Skin/cache/
Skin/output/

SCENIC/.ipynb_checkpoints/
SCENIC/cache/
SCENIC/resources/
SCENIC/int/
SCENIC/output/

*.obj
*.Robj
*.h5ad
*.pdf
*.png
*.html
*.csv
*.loom
*.txt
*.feather

.RData
.Rhistory
